<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<%inherit file="/base.html"/>
<html>
	<head>
		<title>home.html</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/layout.css" />
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/home.css" />
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/style.css" />
	</head>
	<body>
		<div class="">
			<div class="indentify clearfix">
				<div class="indentify-class padding-lr clearfix">
					<ul class="class-content clearfix">
						<li class="fl margin-large-35">
							<a class="class-detail fl " href="#">
								<div class="class-detail-top">
									<div class="text-center indentify-icon">
										<img src="${STATIC_URL}mystatic/image/icon-data.png">
									</div>
									<h3 class="text-center">
										数据类
									</h3>
									<p class="margin-tb padding-bottom text-justify info">
										数据信息、数据模型
									</p>
								</div>
								<p class="continue text-big">
									查看详细
								</p> 
							</a>
						</li>
						<li class="fl margin-large-35">
							<a class="class-detail fl " href="#">
								<div class="class-detail-top">
									<div class="text-center indentify-icon">
										<img src="${STATIC_URL}mystatic/image/icon-project.png">
									</div>
									<h3 class="text-center">
										文件类
									</h3>
									<p class="margin-tb padding-bottom text-justify info">
										文件类管理
									</p>
								</div>
								<p class="continue text-big">
									查看详细
								</p> 
							</a>
						</li>
						<li class="fl margin-large-35">
							<a class="class-detail fl " href="#">
								<div class="class-detail-top">
									<div class="text-center indentify-icon">
										<img src="${STATIC_URL}mystatic/image/icon-yy.png">
									</div>
									<h3 class="text-center">
										应用类
									</h3>
									<p class="margin-tb padding-bottom text-justify info">
										应用信息
									</p>
								</div>
								<p class="continue text-big">
									查看详细
								</p> 
							</a>
						</li>
						<li class="fl margin-large-35">
							<a class="class-detail fl " href="#">
								<div class="class-detail-top">
									<div class="text-center indentify-icon">
										<img src="${STATIC_URL}mystatic/image/icon-other.png">
									</div>
									<h3 class="text-center">
										其他
									</h3>
									<p class="margin-tb padding-bottom text-justify info">
										其他
									</p>
								</div>
								<p class="continue text-big">
									查看详细
								</p> 
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
